<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_07NBADhTEeashtIrr_Gf7A" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;interface User:&#xA;    in event accept_call&#xA;    in event dismiss_call&#xA;&#xA;interface Phone:&#xA;    var duration : integer&#xA;    in event incoming_call" name="CallHandling">
    <regions xmi:id="_07NoEzhTEeashtIrr_Gf7A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_07OPIThTEeashtIrr_Gf7A">
        <outgoingTransitions xmi:id="_07PdSThTEeashtIrr_Gf7A" target="_07O2MThTEeashtIrr_Gf7A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_07O2MThTEeashtIrr_Gf7A" name="Idle" incomingTransitions="_07PdSThTEeashtIrr_Gf7A _Xg7e4DhUEeashtIrr_Gf7A">
        <outgoingTransitions xmi:id="_9HTfwDhTEeashtIrr_Gf7A" specification="Phone.incoming_call" target="_5DcowDhTEeashtIrr_Gf7A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5DcowDhTEeashtIrr_Gf7A" name="Incoming Call" incomingTransitions="_9HTfwDhTEeashtIrr_Gf7A">
        <outgoingTransitions xmi:id="_MqTTkDhUEeashtIrr_Gf7A" specification="User.accept_call" target="_FT3RgDhUEeashtIrr_Gf7A"/>
        <outgoingTransitions xmi:id="_b4Az4DhUEeashtIrr_Gf7A" specification="User.dismiss_call" target="_J1j7EDhUEeashtIrr_Gf7A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_FT3RgDhUEeashtIrr_Gf7A" specification="every 1 s /&#xD;&#xA;Phone.duration +=1" name="Active Call" incomingTransitions="_MqTTkDhUEeashtIrr_Gf7A">
        <outgoingTransitions xmi:id="_O-KzoDhUEeashtIrr_Gf7A" specification="User.dismiss_call" target="_J1j7EDhUEeashtIrr_Gf7A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_J1j7EDhUEeashtIrr_Gf7A" specification="exit /&#xD;&#xA;Phone.duration = 0" name="Dismiss Call" incomingTransitions="_O-KzoDhUEeashtIrr_Gf7A _b4Az4DhUEeashtIrr_Gf7A">
        <outgoingTransitions xmi:id="_Xg7e4DhUEeashtIrr_Gf7A" specification="after 2 s" target="_07O2MThTEeashtIrr_Gf7A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_07NoEThTEeashtIrr_Gf7A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_07NBADhTEeashtIrr_Gf7A" measurementUnit="Pixel">
    <children xmi:id="_07NoFDhTEeashtIrr_Gf7A" type="Region" element="_07NoEzhTEeashtIrr_Gf7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_07NoFzhTEeashtIrr_Gf7A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_07NoGDhTEeashtIrr_Gf7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_07NoGThTEeashtIrr_Gf7A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_07NoGjhTEeashtIrr_Gf7A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_07OPIjhTEeashtIrr_Gf7A" type="Entry" element="_07OPIThTEeashtIrr_Gf7A">
          <children xmi:id="_07OPJjhTEeashtIrr_Gf7A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_07OPKThTEeashtIrr_Gf7A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_07OPKjhTEeashtIrr_Gf7A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_07OPKzhTEeashtIrr_Gf7A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_07OPJzhTEeashtIrr_Gf7A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_07OPKDhTEeashtIrr_Gf7A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_07OPIzhTEeashtIrr_Gf7A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_07OPJDhTEeashtIrr_Gf7A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_07O2MDhTEeashtIrr_Gf7A" x="141" y="22"/>
        </children>
        <children xmi:id="_07O2NDhTEeashtIrr_Gf7A" type="State" element="_07O2MThTEeashtIrr_Gf7A">
          <children xsi:type="notation:DecorationNode" xmi:id="_07PdQDhTEeashtIrr_Gf7A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_07PdQThTEeashtIrr_Gf7A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_07PdQjhTEeashtIrr_Gf7A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_07PdQzhTEeashtIrr_Gf7A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_07PdRDhTEeashtIrr_Gf7A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_07PdRThTEeashtIrr_Gf7A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_07PdRjhTEeashtIrr_Gf7A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_07O2NThTEeashtIrr_Gf7A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_07O2NjhTEeashtIrr_Gf7A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_07PdRzhTEeashtIrr_Gf7A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_07PdSDhTEeashtIrr_Gf7A" x="134" y="80"/>
        </children>
        <children xmi:id="_5Ded8DhTEeashtIrr_Gf7A" type="State" element="_5DcowDhTEeashtIrr_Gf7A">
          <children xsi:type="notation:DecorationNode" xmi:id="_5Ded9DhTEeashtIrr_Gf7A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5Ded9ThTEeashtIrr_Gf7A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5Ded9jhTEeashtIrr_Gf7A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5Ded9zhTEeashtIrr_Gf7A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5Ded-DhTEeashtIrr_Gf7A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5Ded-ThTEeashtIrr_Gf7A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5DfFADhTEeashtIrr_Gf7A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5Ded8ThTEeashtIrr_Gf7A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5Ded8jhTEeashtIrr_Gf7A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5DfFAThTEeashtIrr_Gf7A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5Ded8zhTEeashtIrr_Gf7A" x="105" y="190"/>
        </children>
        <children xmi:id="_FT4foDhUEeashtIrr_Gf7A" type="State" element="_FT3RgDhUEeashtIrr_Gf7A">
          <children xsi:type="notation:DecorationNode" xmi:id="_FT4fpDhUEeashtIrr_Gf7A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FT4fpThUEeashtIrr_Gf7A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_FT4fpjhUEeashtIrr_Gf7A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FT4fpzhUEeashtIrr_Gf7A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_FT5GsDhUEeashtIrr_Gf7A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FT5GsThUEeashtIrr_Gf7A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FT5GsjhUEeashtIrr_Gf7A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FT4foThUEeashtIrr_Gf7A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_FT4fojhUEeashtIrr_Gf7A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FT5GszhUEeashtIrr_Gf7A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FT4fozhUEeashtIrr_Gf7A" x="78" y="298"/>
        </children>
        <children xmi:id="_J1lJMDhUEeashtIrr_Gf7A" type="State" element="_J1j7EDhUEeashtIrr_Gf7A">
          <children xsi:type="notation:DecorationNode" xmi:id="_J1lJNDhUEeashtIrr_Gf7A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_J1lJNThUEeashtIrr_Gf7A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_J1lJNjhUEeashtIrr_Gf7A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J1lJNzhUEeashtIrr_Gf7A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_J1lwQDhUEeashtIrr_Gf7A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J1lwQThUEeashtIrr_Gf7A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J1lwQjhUEeashtIrr_Gf7A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_J1lJMThUEeashtIrr_Gf7A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_J1lJMjhUEeashtIrr_Gf7A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J1lwQzhUEeashtIrr_Gf7A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J1lJMzhUEeashtIrr_Gf7A" x="81" y="406"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_07NoGzhTEeashtIrr_Gf7A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_07NoFThTEeashtIrr_Gf7A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_07OPIDhTEeashtIrr_Gf7A" x="300" y="60" width="400" height="608"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_07QEVzhTEeashtIrr_Gf7A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_07QrYDhTEeashtIrr_Gf7A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_07QrYThTEeashtIrr_Gf7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_07QrYjhTEeashtIrr_Gf7A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_07QrYzhTEeashtIrr_Gf7A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_07QrZDhTEeashtIrr_Gf7A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_07QrZThTEeashtIrr_Gf7A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_07NoEjhTEeashtIrr_Gf7A"/>
    <edges xmi:id="_07QEUDhTEeashtIrr_Gf7A" type="Transition" element="_07PdSThTEeashtIrr_Gf7A" source="_07OPIjhTEeashtIrr_Gf7A" target="_07O2NDhTEeashtIrr_Gf7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_07QEVDhTEeashtIrr_Gf7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_07QEVThTEeashtIrr_Gf7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_07QEVjhTEeashtIrr_Gf7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_07QEUThTEeashtIrr_Gf7A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_07QEUzhTEeashtIrr_Gf7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_07QEUjhTEeashtIrr_Gf7A" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_9HUt4DhTEeashtIrr_Gf7A" type="Transition" element="_9HTfwDhTEeashtIrr_Gf7A" source="_07O2NDhTEeashtIrr_Gf7A" target="_5Ded8DhTEeashtIrr_Gf7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_9HUt5DhTEeashtIrr_Gf7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9HUt5ThTEeashtIrr_Gf7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9HUt5jhTEeashtIrr_Gf7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9HUt4ThTEeashtIrr_Gf7A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9HUt4zhTEeashtIrr_Gf7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9HUt4jhTEeashtIrr_Gf7A" points="[-6, 24, -10, -86]$[-46, 101, -50, -9]"/>
    </edges>
    <edges xmi:id="_MqUhsDhUEeashtIrr_Gf7A" type="Transition" element="_MqTTkDhUEeashtIrr_Gf7A" source="_5Ded8DhTEeashtIrr_Gf7A" target="_FT4foDhUEeashtIrr_Gf7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_MqVIwThUEeashtIrr_Gf7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MqVIwjhUEeashtIrr_Gf7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MqVIwzhUEeashtIrr_Gf7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MqUhsThUEeashtIrr_Gf7A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MqVIwDhUEeashtIrr_Gf7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MqUhsjhUEeashtIrr_Gf7A" points="[-5, 24, 2, -84]$[-47, 102, -40, -6]"/>
    </edges>
    <edges xmi:id="_O-MBwDhUEeashtIrr_Gf7A" type="Transition" element="_O-KzoDhUEeashtIrr_Gf7A" source="_FT4foDhUEeashtIrr_Gf7A" target="_J1lJMDhUEeashtIrr_Gf7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_O-MBxDhUEeashtIrr_Gf7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_O-MBxThUEeashtIrr_Gf7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_O-MBxjhUEeashtIrr_Gf7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_O-MBwThUEeashtIrr_Gf7A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_O-MBwzhUEeashtIrr_Gf7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_O-MBwjhUEeashtIrr_Gf7A" points="[-2, 24, -6, -84]$[-2, 84, -6, -24]"/>
    </edges>
    <edges xmi:id="_Xg8tADhUEeashtIrr_Gf7A" type="Transition" element="_Xg7e4DhUEeashtIrr_Gf7A" source="_J1lJMDhUEeashtIrr_Gf7A" target="_07O2NDhTEeashtIrr_Gf7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xg8tBDhUEeashtIrr_Gf7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xg8tBThUEeashtIrr_Gf7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xg8tBjhUEeashtIrr_Gf7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Xg8tAThUEeashtIrr_Gf7A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Xg8tAzhUEeashtIrr_Gf7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Xg8tAjhUEeashtIrr_Gf7A" points="[-10, 0, -60, 309]$[-70, 0, -120, 309]$[-70, -309, -120, 0]$[43, -309, -7, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xg97IDhUEeashtIrr_Gf7A" id="(0.07482993197278912,0.23728813559322035)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xg97IThUEeashtIrr_Gf7A" id="(0.225,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_b4CCADhUEeashtIrr_Gf7A" type="Transition" element="_b4Az4DhUEeashtIrr_Gf7A" source="_5Ded8DhTEeashtIrr_Gf7A" target="_J1lJMDhUEeashtIrr_Gf7A">
      <children xsi:type="notation:DecorationNode" xmi:id="_b4CCBDhUEeashtIrr_Gf7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_b4CCBThUEeashtIrr_Gf7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_b4CCBjhUEeashtIrr_Gf7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_b4CCAThUEeashtIrr_Gf7A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_b4CCAzhUEeashtIrr_Gf7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_b4CCAjhUEeashtIrr_Gf7A" points="[50, 0, 4, -225]$[154, 0, 108, -225]$[154, 218, 108, -7]$[68, 218, 22, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b4D3MDhUEeashtIrr_Gf7A" id="(0.8503401360544217,0.6271186440677966)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
